/* Copyright (c) 2018-2020, The Linux Foundation. All rights reserved.
 * Copyright (C) 2020 Amktiao.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

qcom,stic_atl_4000mah {
	qcom,max-voltage-uv = <4400000>;
	qcom,nom-batt-capacity-mah = <4000>;
	qcom,fg-cc-cv-threshold-mv = <4390>;
	qcom,batt-id-kohm = <82>;
	qcom,battery-beta = <3435>;
	qcom,battery-type = "stic_4000mah";
	qcom,gui-version = "PMI8998GUI - 2.0.0.54";
	qcom,fg-profile-data = [
			B8 1E B0 06
			1E 03 46 07
			DD 1C 0C 02
			81 0D E8 0A
			C4 17 F4 23
			29 44 8E 5A
			6A 00 00 00
			10 00 00 00
			36 00 7E BD
			DD CD 7C C2
			22 00 08 00
			74 CD D7 E5
			99 06 B2 00
			01 FC 63 0A
			6D 0D 85 2A
			16 06 09 20
			27 32 14 00
			6B 1F FC 05
			1F 0A B1 06
			B9 1C 36 03
			AE 15 97 12
			72 18 14 2A
			8E 4D FF 5B
			63 00 00 00
			0D 00 00 00
			00 00 DC D5
			44 CA 13 C2
			1C 00 00 00
			52 EA D7 E5
			E7 FD D2 EB
			1C E2 A5 03
			D9 E3 61 1A
			A2 33 CC FF
			07 10 00 00
			15 0D 66 46
			1C 00 40 00
			7E 01 0A FA
			FF 00 00 00
			00 00 00 00
			00 00 00 00
			00 00 00 00
			00 00 00 00
			00 00 00 00
			00 00 00 00
			00 00 00 00
			00 00 00 00
			00 00 00 00
			00 00 00 00
			00 00 00 00
			00 00 00 00
			00 00 00 00
			00 00 00 00
			00 00 00 00
			00 00 00 00
			00 00 00 00
			00 00 00 00
	];
};
